In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
d0 = pd.read_csv('vid18_180219.dat', delimiter = ',')
df1 = pd.DataFrame(d0)
df1["Date"] = pd.to_datetime(df1.TIMESTAMP)
df1 = df1.filter(["Date", "AirTC_Avg"], axis=1)
df1.head()

                 Date  AirTC_Avg
0 2018-05-11 20:10:00      23.50
1 2018-05-11 20:20:00      22.96
2 2018-05-11 20:30:00      22.73
3 2018-05-11 20:40:00      22.40
4 2018-05-11 20:50:00      22.46

In [3]:
df1["Year"]  = df1["Date"].dt.year
df1["Month"] = df1["Date"].dt.month
df1["Day"]   = df1["Date"].dt.day
df1["Hour"]  = df1["Date"].dt.hour
df1.head(), df1.tail()

(                 Date  AirTC_Avg  Year  Month  Day  Hour
 0 2018-05-11 20:10:00      23.50  2018      5   11    20
 1 2018-05-11 20:20:00      22.96  2018      5   11    20
 2 2018-05-11 20:30:00      22.73  2018      5   11    20
 3 2018-05-11 20:40:00      22.40  2018      5   11    20
 4 2018-05-11 20:50:00      22.46  2018      5   11    20,
                      Date  AirTC_Avg  Year  Month  Day  Hour
 40655 2019-02-18 06:50:00      3.699  2019      2   18     6
 40656 2019-02-18 07:00:00      3.492  2019      2   18     7
 40657 2019-02-18 07:10:00      3.387  2019      2   18     7
 40658 2019-02-18 07:20:00      3.243  2019      2   18     7
 40659 2019-02-18 07:30:00      3.552  2019      2   18     7)

In [4]:
df2 = pd.DataFrame(df1[df1["Date"] >= "2018-11-1"])
df2 = df2.reset_index(drop=True)
df2.head(), df2.tail()

(                 Date  AirTC_Avg  Year  Month  Day  Hour
 0 2018-11-01 00:00:00       9.13  2018     11    1     0
 1 2018-11-01 00:10:00       8.89  2018     11    1     0
 2 2018-11-01 00:20:00       8.66  2018     11    1     0
 3 2018-11-01 00:30:00       8.52  2018     11    1     0
 4 2018-11-01 00:40:00       8.47  2018     11    1     0,
                      Date  AirTC_Avg  Year  Month  Day  Hour
 15720 2019-02-18 06:50:00      3.699  2019      2   18     6
 15721 2019-02-18 07:00:00      3.492  2019      2   18     7
 15722 2019-02-18 07:10:00      3.387  2019      2   18     7
 15723 2019-02-18 07:20:00      3.243  2019      2   18     7
 15724 2019-02-18 07:30:00      3.552  2019      2   18     7)

In [5]:
df2["TMean"] = round(df2.groupby(["Year", "Month", "Day", "Hour"]).transform(np.mean),1)
df2["Tmax"]  = round(df2.groupby(["Year","Month","Day"])["AirTC_Avg"].transform(np.max), 1)
df2["Tmin"]  = round(df2.groupby(["Year","Month","Day"])["AirTC_Avg"].transform(np.min), 1)
df2.head()

                 Date  AirTC_Avg  Year  Month  Day  Hour  TMean  Tmax  Tmin
0 2018-11-01 00:00:00       9.13  2018     11    1     0    8.7  29.6   6.1
1 2018-11-01 00:10:00       8.89  2018     11    1     0    8.7  29.6   6.1
2 2018-11-01 00:20:00       8.66  2018     11    1     0    8.7  29.6   6.1
3 2018-11-01 00:30:00       8.52  2018     11    1     0    8.7  29.6   6.1
4 2018-11-01 00:40:00       8.47  2018     11    1     0    8.7  29.6   6.1

In [9]:
#Para eliminar los duplicados para que quede por hora en vez de día
df2 = df2.drop_duplicates(subset=["Hour", "Day", "Month", "Year"])
df2 = df2.reset_index(drop=True)
df2.head(25)

                  Date  AirTC_Avg  Year  Month  Day  Hour  TMean  Tmax  Tmin
0  2018-11-01 00:00:00      9.130  2018     11    1     0    8.7  29.6   6.1
1  2018-11-01 01:00:00      8.560  2018     11    1     1    8.5  29.6   6.1
2  2018-11-01 02:00:00      8.830  2018     11    1     2    8.7  29.6   6.1
3  2018-11-01 03:00:00      9.130  2018     11    1     3    8.8  29.6   6.1
4  2018-11-01 04:00:00      7.924  2018     11    1     4    7.4  29.6   6.1
5  2018-11-01 05:00:00      7.261  2018     11    1     5    7.3  29.6   6.1
6  2018-11-01 06:00:00      7.723  2018     11    1     6    6.8  29.6   6.1
7  2018-11-01 07:00:00      6.125  2018     11    1     7    8.1  29.6   6.1
8  2018-11-01 08:00:00     12.430  2018     11    1     8   15.0  29.6   6.1
9  2018-11-01 09:00:00     18.080  2018     11    1     9   19.7  29.6   6.1
10 2018-11-01 10:00:00     21.670  2018     11    1    10   22.4  29.6   6.1
11 2018-11-01 11:00:00     23.010  2018     11    1    11   23.9  29.6   6.1
12 2018-11-01 12:00:00     24.360  2018     11    1    12   25.1  29.6   6.1
13 2018-11-01 13:00:00     26.190  2018     11    1    13   26.5  29.6   6.1
14 2018-11-01 14:00:00     26.710  2018     11    1    14   27.4  29.6   6.1
15 2018-11-01 15:00:00     27.760  2018     11    1    15   28.2  29.6   6.1
16 2018-11-01 16:00:00     29.330  2018     11    1    16   28.6  29.6   6.1
17 2018-11-01 17:00:00     29.530  2018     11    1    17   27.4  29.6   6.1
18 2018-11-01 18:00:00     19.870  2018     11    1    18   16.9  29.6   6.1
19 2018-11-01 19:00:00     14.830  2018     11    1    19   14.7  29.6   6.1
20 2018-11-01 20:00:00     14.570  2018     11    1    20   14.1  29.6   6.1
21 2018-11-01 21:00:00     13.670  2018     11    1    21   13.0  29.6   6.1
22 2018-11-01 22:00:00     12.960  2018     11    1    22   12.3  29.6   6.1
23 2018-11-01 23:00:00     11.240  2018     11    1    23   11.0  29.6   6.1
24 2018-11-02 00:00:00     10.790  2018     11    2     0   10.6  31.4  10.0

In [7]:
Hora = 0
HF = 0
HFE = 0
count = 0
for i in range(0, len(df2)):
    if(df2["Tmin"][i] < 10):
    for k in range(0, len(df)):
        if(0 < df2["TMean"][k] <= 10):
        HF = HF + 1
        count = count + 1
        elif(count > 23):

SyntaxError: invalid syntax (<ipython-input-7-7f4a368c9c2e>, line 5)